body{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: gray;
    text-align: center;
    width: 100vw;
    height: 10vh;
    color: white;
    font-size: 50px;
}
aside{
    width: 10vw;
    height: 40vh;
    display: inline-block;
}
aside>p{
    background-color:lightblue ;
    width: 10vw;
    height: 6vh;
    font-size: 15px;
}
main{
    float: right;
    width: 45vw;
    height: 40vh;
}
footer{
    background-color: gray;
    color: white;
    width: 100vw;
    height: 10vh;
}