.first{
    border: 2px solid black;
    width: 25vw;
    height: 20vw;
    float: left;
    display: inline-block;
    clear: both;
    margin-left: 55px;
}
.second{
    width: 25vw;
    height: 20vw;
    float: right;
    border: 2px solid black;
    display: inline-block;
}
.third{
    width: justify;
    height: 20vw;
    float: right;
    border: 4px solid black;
    display: inline-block;

}
.fourth{
    width: justify;
    height: 20vw;
    float: right;
    border: 2px solid black;
    display: inline-block;

}
